fastapi
uvicorn[standard]
python-multipart
pydantic
python-dotenv

pymongo

groq
google-genai

numpy
faiss-cpu

pymupdf

sentence-transformers
torch
transformers

openai-whisper

httpx
requests

pytest
pytest-cov